@using ASPCoreFirstAPP.Models
@model IEnumerable<ASPCoreFirstApp.Models.ProductModel>

<a class="btn btn-info" href="@Url.Action("ShowCreate", "Products")">Create New</a>

<div id="modal-placeholder"></div>
<div class="container d-flex flex-wrap">
    @foreach (var item in Model)
    {
        <div id="card-number-@item.Id">
            <partial name="_productCard" model="item" />
        </div>
    }

</div>
<!-- Modal -->
<form id="edit-form" asp-action="Edit">
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label for="Id" class="control-label"></label>
                        <input id="Id" class="form-control" />
                        
                    </div>
                    <div class="form-group">
                        <label for="Name" class="control-label"></label>
                        <input id="Name" class="form-control" />
                       
                    </div>
                    <div class="form-group">
                        <label for="Price" class="control-label"></label>
                        <input id="Price" class="form-control" />
                       
                    </div>
                    <div class="form-group">
                        <label for="Description" class="control-label"></label>
                        <input id="Description" class="form-control" />
                        
                    </div>
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="save-product" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

